.category__card {
    width: 15rem;
    height: 15rem;
    margin: var(--sp-1);
    cursor: pointer;
    border-radius: var(--sp-1);
  }
  
  .category__card img {
    height: 80%;
    width: 100%;
    border-radius: var(--sp-1) var(--sp-1) 0 0;
    object-fit: fill;
  }
  
  .category__card .categogry__name {
    display: block;
  }
  
  .category__card:hover {
    box-shadow: var(--box-shadow-2);
  }