@import url("https://lens-ui.netlify.app/style.css");
@import url("https://use.fontawesome.com/releases/v5.12.1/css/all.css");

.d-inline-block {
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.cursor-ptr{
  cursor: pointer;
}

